DATABASE_URL=postgresql://user:password@localhost:5432/fieldreport
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
# Descomenta para utilizar o CLOUDINARY CLOUD
# CLOUDINARY_CLOUD_NAME=your_cloud_name
# CLOUDINARY_API_KEY=your_api_key
# CLOUDINARY_API_SECRET=your_api_secret
PORT=3001
APP_URL=http://localhost:3001

# STORAGE_PROVIDER="local" salva em uploads/ | STORAGE_PROVIDER="cloudinary" envia para o Cloudinary
STORAGE_PROVIDER=local